<section class="text-container-light projects-container">
	<h1>Artworks</h1>

	<article>
		{{#each artworks}}
			<figure>
				<a href="">
					<img src="{{aurl}}" alt="{{alturl}}" />
					<figcaption>
						{{atype}}
						{{aname}}
						{{adesc}}
						{{ayear}}
						{{afor}}
					</figcaption>
				</a>
			</figure>
		{{/each}}
	</article>

</section>