<section class="text-container-light artworks-container">
	<section class="choose-container">
		<ul>
			<li><a href="/artworks">Artworks</a></li>
			<li><a href="/codeprojects">Code Projects</a></li>
		</ul>
	</section>

	<h1>Artworks</h1>

	<article class="projectRow">
		{{#each artworks}}
			<figure class="projectColumn">
				<a href="/artworks/{{aid}}">
					<img src="{{aurl}}" alt="{{alturl}}" />
				</a>
			</figure>
		{{/each}}
	</article>

	<section class="pagination-buttons">
		{{#if page}}
			<a
				id="previous-button"
				class="link-button-style"
				href="/artworks?page={{prevPage}}"
			>Previous</a>
		{{/if}}
		{{#if page}}
			<a
				id="next-button"
				class="link-button-style"
				href="/artworks?page={{nextPage}}"
			>Next</a>
		{{/if}}
	</section>

</section>