<section class="text-container-light">
	{{#if codeProject.cid}}
			<h1>modify project</h1>
		<form action="/codeprojects/modify/{{codeProject.cid}}" method="post">
	{{else}}
		<h1>New code project</h1>
		<form action="/codeprojects/new" method="post">		
	{{/if}}

	<label for="cname">Title:</label>
		<input
			name="cname"
			type="text"
			class="cname"
			required="required"
			placeholder="Name of code project"
	{{#if codeProject.cname}} value="{{codeProject.cname}}" {{/if}}
		/>

		<label for="ctype">Type:</label>
		<input
			name="ctype"
			type="text"
			class="ctype"
			required="required"
			placeholder="What languages did you use?"
	{{#if codeProject.ctype}} value="{{codeProject.ctype}}"{{/if}}
		/>

		<label for="cyear">Year:</label>
		<input
			name="cyear"
			type="number"
			class="cyear"
			required="required"
			placeholder="Year"
	{{#if codeProject.cyear}} value="{{codeProject.cyear}}" {{/if}}
		/>

		<textarea
			name="cdesc"
			id="cdesc"
			required="required"
			placeholder="Code project description"
		>{{#if codeProject.cdesc}} {{codeProject.cdesc}}{{/if}}</textarea>

	<label for="fid">Code Project type</label>
		<select name="fid" id="fid">	
			<option value="1" {{#if (eq codeProject.fid "1")}} selected="selected"{{/if}}>1 - Personal project</option>	
			<option value="2" {{#if (eq codeProject.fid "2")}} selected="selected"{{/if}}>2 - High school</option>	
			<option value="3" {{#if (eq codeProject.fid "3")}} selected="selected"{{/if}}>3 - University</option>	
			<option value="4" {{#if (eq codeProject.fid "4")}} selected="selected"{{/if}}>4 - Volunteer</option>	
			<option value="5" {{#if (eq codeProject.fid "5")}} selected="selected"{{/if}}>5 - Internship</option>	
			<option value="6" {{#if (eq codeProject.fid "6")}} selected="selected"{{/if}}>6 - Company</option>
		</select>
		
		<button type="submit">
			{{#if codeProject.cid}}
				Modify code project 
			{{else }} 
				Create new project
			{{/if}}
		</button>
	</form>
</section>