<section class="text-container-light projects-container">
	{{! choose-project }}
	<section class="showcase-container">
		<ul>
			<li><a href="/projects">Artworks</a></li>
			<li><a href="/codeprojects">Code Projects</a></li>
		</ul>

  <h1>Code projects detail</h1>

  <article>
  <ul>
    {{#each codeProjects}}
    <li>
				{{cname}}
				{{ctype}}
				{{cyear}}
<img src="{{curl}}" alt="{{calturl}}">
    </li>
  </ul>
    {{/each}}
  </article>
</section>



			
			