<section class="text-container-light projects-container">
  <h1>Code projects detail</h1>

  <article>
  <ul>
    {{#each codeProjects}}
    <li>
				{{cname}}
				{{ctype}}
				{{cyear}}
<img src="{{curl}}" alt="{{calturl}}">
    </li>
  </ul>
    {{/each}}
  </article>
</section>



			
			