<section class="projects-container">
	<h1>Artworks</h1>

	<article>
		{{#each projects}}
			<figure>
				<a href="">
					<img src="{{url}}" alt="{{url}}" />
					<figcaption>
						{{name}}
					</figcaption>

				</a>
			</figure>
		{{/each}}
	</article>

	{{!-- <ul>
				{{#each projects}}
					<li>
						{{#if (eq type "research")}}
              <span class="proj-research">
                {{else}}
                <span class="proj-teaching">
                  {{/if}}
                  {{year}}
                </span>
						{{name}}
						{{type}}
						{{desc}}
						{{year}}
						{{dev}}
						<img src="{{url}}" alt="{{url}}" />
					</li>
				{{/each}}
			</ul> --}}

</section>