		<section class="text-container-light projects-container">
			<h1>Projects and Works</h1>

	{{#each projects}}
<figure>
	<img src="{{url}}" alt="{{url}}" />
	<figcaption>
						{{name}}
						{{!-- {{type}}
						{{desc}} --}}
						{{year}}
	</figcaption>
				{{/each}}

</figure>	

{{!-- 
			<ul>
				{{#each projects}}
					<li>
						{{#if (eq type "research")}}
              <span class="proj-research">
                {{else}}
                <span class="proj-teaching">
                  {{/if}}
                  {{year}}
                </span>
						{{name}}
						{{type}}
						{{desc}}
						{{year}}
						{{dev}}
						<img src="{{url}}" alt="{{url}}" />
					</li>
				{{/each}}

			</ul> --}}
		</section>