<section class="text-container-light detail-container">

	<article>
		<h1>{{artwork.aname}}</h1>
		<img src="/{{artwork.aurl}}" alt="{{artwork.alturl}}" />
		<ul>
			{{! artwork table info }}
			<li>
				{{artwork.atype}}
			</li>
			<li>
				{{artwork.ayear}}
			</li>
			<li>
				{{artwork.adesc}}
			</li>
			{{! workfor table info }}
			<li>
				{{artwork.fname}}
			</li>
			<li>
				{{artwork.fdesc}}
			</li>
		</ul>
	</article>
</section>