<section class="text-container-light detail-container">
	<h1>Code projects detail</h1>

	<h1>{{codeProject.cname}}</h1>
	<article>
		<ul>
			<li>
				{{codeProject.cdesc}}
			</li>
			<li>
				{{codeProject.ctype}}
			</li>
			<li>
				{{codeProject.cyear}}
			</li>

			{{! workfor table info }}
			<li>
				{{codeProject.fname}}
			</li>
			<li>
				{{codeProject.fdesc}}
			</li>
		</ul>
	</article>
</section>