<section class="text-container-light projects-container">
	<h1>Code projects detail</h1>

	<article>
		<ul>
			<img src="{{oneCodeProject.curl}}" alt="{{oneCodeProject.calturl}}" />
			<li>
				{{oneCodeProject.cname}}
			</li>
			<li>
				{{oneCodeProject.ctype}}
			</li>
			<li>
				{{oneCodeProject.cdesc}}
			</li>
			<li>
				{{oneCodeProject.cyear}}
			</li>

			{{! workfor table info }}
			<li>
				{{oneCodeProject.fname}}
			</li>
			<li>
				{{oneCodeProject.fdesc}}
			</li>
		</ul>
	</article>
</section>